.property-scroll-wrapper {
  width: 100%;
  overflow: hidden;
}

.property-scroll {
  display: flex;
  width: max-content;
  animation: propertyScroll 20s linear infinite;
}

/* Pause when user hovers */
.property-scroll:hover {
  animation-play-state: paused;
}

@keyframes propertyScroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}